body {
    background-image: url(/assets/9c727bbddff7726b4a2512abd5b998b4.jpg);
}

h1, h2{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}


#tabla{
    background-color: white;

    
}

#ClaseContainer, #ClaseRow, #ClaseCol{
    color: #ffffff;
    background-color: #ea9f94;
    border: 1px solid #ce0651;
    border-radius: 10px;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#NavPrincipal {
    background-color: #D2B48C;
}

.nav-link,
.navbar-brand,
.nav-link {
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-link:hover,
.navbar-brand:hover,
.nav-link:hover {
    color: darkred
}

.navbar-toggler {
    background-color: #DAA520;
}
